/* Button style */
.button {
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none; /* Remove underline */
    margin-right: 10px; /* Add some space between buttons */
}
.button:hover {
    background-color: #6b38ff; /* Change color on hover */
}
/* Hover styles for delete button */
.delete:hover {
    background-color: red;
}
/* Hover styles for download and open buttons */
.download:hover,
.open:hover {
    background-color: lightgreen;
}
/* Checkbox style */
.file-checkbox {
    margin-right: 10px;
}
